services:
  - type: web
    name: hitmaker
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
    disk:
      name: hitmaker-data
      mountPath: /opt/render/project/src/uploads
      sizeGB: 1
